<!--管理選項 nav-->
<div class="admin_nav">
  <a class="btn btn-outline-info btn-lg <%= getActiveFromURL(url, '/admin_lottery') %>" href="/admin_lottery" role="button">抽獎品項管理</a>
  <a class="btn btn-outline-info btn-lg <%= getActiveFromURL(url, '/admin_menu') %>" href="/admin_menu" role="button">MENU 管理</a>
  <a class="btn btn-outline-info btn-lg <%= getActiveFromURL(url, '/admin_faq') %>" href="/admin_faq" role="button">常見問題管理</a>
</div>