/*  抽獎  */
.section__lottery {
  height: 600px;
  background: url(/img/lottery/bg.jpg) center/cover no-repeat;
  position: relative;
  box-sizing: border-box;
}

.lottery {
  &__block {
    border-radius: 16px;
    background-color: white;
    max-width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
  }

  &__title {
    font-weight: bold;
    text-align: center;
    color: #5ec1b6;
    font-size: 24px;
  }

  &__detail {
    display: flex;
    padding: 20px 0px;
    border-bottom: #cdcdcd 1px solid;

    &__title {
      font-size: 18px;
      font-weight: bold;
      width: 100px;
    }

    &__cotent {
      font-size: 16px;
      flex: 1;
    }
  }

  &__btn {
    border-radius: 16px;
    padding: 20px 0;
    font-size: 20px;
    color: #ffffff;
    background-color: #e62a45;
    transition: all 0.3s;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    max-width: 400px;
  
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &__result {
    color: #292222;
    max-width: 800px;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    &__title {
      padding: 20px;
      font-size: 50px;
      font-weight: bold;
      color: white;
    }
  
    &__content {
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  
    &__btn {
      border-radius: 16px;
      padding: 20px 0;
      font-size: 20px;
      color: #ffffff;
      background-color: #e62a45;
      transition: all 0.3s;
      margin: 20px auto;
      box-sizing: border-box;
      max-width: 300px;
  
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

/*  RWD 設計  */
@media (max-width: 768px) {
  /*  抽獎區域  */
  .section__lottery {
    background: none;
    height: auto;
  }
  .lottery__block {
    border-radius: 0;
    top: 0;
    left: 0;
    transform: none;
    max-width: none;
  }
  /*  抽獎結果  */
  .lottery__result {
    top: 0;
    left: 0;
    transform: none;
    padding: 10px 5px;
  }
}
